* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: #040924;
    --card-bg: #FFFFFF;
    --input-bg: #DCE2E9;
    --button-bg: hsla(194, 97%, 31%, 1);

    --error-color: hsla(0, 86%, 59%, 1);

    --text-color: hsla(194, 68%, 15%, 1);
    --it-ns-color: rgba(73, 80, 87, 0.50);
    --label-color: hsla(170, 100%, 14%, 1);
    --input-text: hsla(210, 11%, 15%, 1);

    --low-opacity-color: rgba(0, 0, 0, 0.70);

    --font-family: 'Roboto', sans-serif;


    --button-bg-hover: rgb(11, 76, 96);

    font-size: 62.5%;
}

body, input, button {
    font-family: var(--font-family);
    font-size: 1.6rem;
}

body {
    background: var(--main-bg);
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
    
}

.card {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    background: var(--card-bg);
    border-radius: 6px;
    max-width: 42.8rem;

}

form {
    width: 30rem;
    display: grid;
    gap: 3.2rem;
}

.title {
    color: var(--text-color);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4rem;
}


.input-wrapper {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: grid;
    gap: 1.6rem;
}

.input-wrapper label {
    color: var(--label-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: 0.8rem;
}

.input-wrapper input {
    border-radius: 4px;
    background: var(--input-bg);
    padding: 1.6rem;
    
    color: var(--input-text);

    border: 1px solid rgba(73, 80, 87, 0.30);;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    
    width: 100%;
}

.input-wrapper input:focus {
    outline: 1px solid var(--text-color);    
}

.input-wrapper input::placeholder {
    color: var(--it-ns-color);
}

form button {
    border-radius: 4px;
    background: var(--button-bg);
    padding: 1.6rem;

    color: var(--card-bg);
    font-weight: 700;
    line-height: 2rem;
    border: none;
    width: 100%;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    transition: background 350ms ease;
}

form button:disabled {
    cursor: not-allowed;
}

form button:hover {
    background: var(--button-bg-hover);
}

.modal-wrapper {
    position: absolute;
    inset: 0;
    background: var(--low-opacity-color);

    display: grid;
    place-items: center;

    opacity: 0;
    visibility: hidden;
}

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.modal {
    position: relative;
}

.close {
    border: 0;
    background: transparent;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    padding: 4px;
    cursor: pointer;
    display: grid;
    place-content: center;

    border-radius: 50%;
    transition: all 200ms;
}

.close:hover {
    background: var(--input-bg);
    transform: scale(1.1);
}

.alert-error.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.alert-error {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    text-align: center;

    background: var(--error-color);
    padding: 0.8rem 0;

    color: var(--card-bg);
    font-weight: 700;
    line-height: 2rem;

    visibility: hidden;
    opacity: 0;
    transform: translateY(-30px);
    transition: transform 500ms;
}


@media (max-width: 500px) {
    .card {
        max-width: 90%;
        text-align: center;
    }

    form {
        width: fit-content;
    }
}